
html {
	box-sizing: border-box;
	font-size: 10px;
}


/*Style the header*/
#header {
	background-color: green;
	font-size: 1.6rem;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	left: 0;

}




#header #header-img {
	width: 5rem;
}

#header .company-name {
	display: inline;
	font-size: 3rem;
}

#header #nav-bar{
	border: 2px solid black;
	width: 50%;
	display: flex;
	justify-content: flex-end;
}



/*Style the form*/
.form-h2 {
	text-align: center;
}
form {
	border: 2px solid black;
}
form fieldset {
	border: 2px solid black;
	width: 50%;
	height: 20vh;
	margin: 0 auto;
}

form fieldset input {
	display: block;
	margin: 1rem auto;
}


/*Video of our cake types*/

.iframe-wraper {
		border: 2px solid black;
		display: flex;
		justify-content: center;
}

.iframe-wraper iframe {
	border: 2px solid black;


}






/*Delivery area*/
.delivery {
	width: 50%;
	margin: 0 auto;
	font-size: 1.2rem;
}


/*I decided in having 3 grids for each section*/
/*Each grid is having 2 columns, a short column and a long columng*/

.delivery section {

	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 1px;
	border: 2px solid black;
	margin: 1rem 0rem;




}

.delivery i {
	border: 1px solid black;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	display: block;
	width: 100%;
	height: 10vh;
	font-size: 5rem;
	color: green;
}

.delivery h2,
.delivery p {
	border: 2px solid black;
	grid-column: 2 / 5;
	width: 100%;
	margin: 0;
}




/*Select a product area*/
.product-tiers * {
	border: 1px solid black;
}

.wrap-product-tiers {
		border: 1px solid black;
		height: 50rem;
}

.product-tiers {
	display: flex;
	gap: 10px;
	justify-content: center;
	font-size: 1.2rem;

}


.product-tiers div {
	width: 30rem;
	overflow:  visible;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.product-tiers div ul {
	margin: 0 auto;
}



.product-tiers img {
	width: 90%;
	height: 50%;
	object-fit: cover;
	padding: 0.5rem;
	margin: 0 auto;


}


.product-tiers a {
	border: 1px solid black;
	width: 6rem;
	text-align: center;
	display: block;
	margin: 0.5rem auto;
	padding: 0.5rem;

}



footer {
	border: 1px solid black;


}


footer .inner-wraper {
	padding-right: 1rem;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 100rem;
	margin: 0 auto;
}









